<form [formGroup]="myForm" class="myForm">
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">First Name*</label>
    <div class="col-sm-4">
      <input formControlName="firstName" class="form-control" id="firstName" placeholder="First Name">
    </div>
  </div>

  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last Name*</label>
    <div class="col-sm-4">
      <input formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name">
    </div>
  </div>

  <div class="form-group row">
    <label for="height" class="col-sm-2 col-form-label">Height*</label>
    <div class="col-sm-4">
      <input type="number" formControlName="height" class="form-control" id="height" placeholder="Height">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email*</label>
    <div class="col-sm-4">
      <input formControlName="email" required class="form-control" id="email" placeholder="Email">
    </div>
    <div class="col-sm-4"><span *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched">
        Your email does not look right
      </span></div>
  </div>

  <div class="form-group row">
    <label for="leftEyePower" class="col-sm-2 col-form-label">Left Eye Power*</label>
    <div class="col-sm-4">
      <input type="number" formControlName="leftEyePower" (change)="updateValidators()" class="form-control"
        id="leftEyePower" placeholder="Left Eye Power">
    </div>
  </div>

  <div class="form-group row">
    <label for="rightEyePower" class="col-sm-2 col-form-label">Right Eye Power*</label>
    <div class="col-sm-4">
      <input type="number" formControlName="rightEyePower" class="form-control" id="rightEyePower"
        placeholder="Right Eye Power">
    </div>
    <div class="col-sm-4"><span *ngIf="myForm.controls.rightEyePower.invalid && myForm.controls.rightEyePower.touched">
        Right eye power should be greater than Left eye power.
      </span></div>
  </div>

  <div class="row">
    <label for="" class="col-sm-2 col-form-label">States*</label>
    <div class="states" *ngFor="let state of statesArray; let i=index">
      <div class="row">
        <div class="col-sm-12">
          <label>
            <input type="radio" [value]="state" formControlName="state">
            <span>{{state}}</span>
          </label>
        </div>
      </div>
    </div><br>
  </div>
  <button [disabled]="myForm.invalid" (click)="onSubmit()">Submit</button>
</form>